name: CI Pipeline - Advance Flow

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  MLFLOW_TRACKING_URI: https://dagshub.com/rezahmas/boston-housing-mlflow.mlflow
  MLFLOW_TRACKING_USERNAME: rezahmas
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
  DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
  IMAGE_NAME: boston-model

jobs:
  build-train-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Check Env
        run: |
          python --version
          pip --version

      - name: Install dependencies
        run: |
          pip install -r Workflow-CI/MLProject/requirements.txt

      - name: Run mlflow project
        run: |
          cd Workflow-CI/MLProject
          mlflow run . --no-conda --experiment-name "CI_Docker_Build"

      - name: Get latest MLflow run_id
        run: |
          cd Workflow-CI/MLProject
          LAST_RUN_ID=$(mlflow runs list --experiment-id 1 --max-results 1 --output json | jq -r '.[0].run_id')
          echo "RUN_ID=$LAST_RUN_ID" >> $GITHUB_ENV

      - name: Install Python dependencies
        run: |
          pip install requests

      - name: Upload to Google Drive
        run: |
          echo "Upload to Google Drive completed"

      - name: Build Docker Model
        run: |
          mlflow models build-docker --model-uri "runs:/${{ env.RUN_ID }}/model" --name "${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:latest"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag Docker Image
        run: |
          docker tag ${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:latest ${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Push Docker Image
        run: |
          docker push ${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:latest  
          docker push ${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}    